.cajaf {
  border-radius: 15px;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  right: 90%;
  padding: 20px;
  margin-top: 24vh;
}
.formv {
  padding: 20px 20px 20px 20px;
  display: flex;
  border: 5px solid #727a46;
  background-color: #eddde0;
  flex-direction: column;
}

.formv > input {
  border-radius: 15px;
  margin-top: 20px;
  padding: 20px;
  font-size: larger;
}

.buttonv {
  width: auto;
  border-radius: 15px;
  padding: 18px 10px;
  margin: 15px 85px;
  background-color: rgb(219, 199, 237);
  font-size: 18px;
  color: rgb(27, 29, 31);
}

.buttonv:hover {
    background-color: rgb(173, 177, 231);
}
.buttonv:active {
    background-color: rgb(244, 164, 232);
}
.titlev{   
  text-align: center;
  text-decoration:dotted;
  color: rgb(60, 60, 73);}