:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;


}



.silkscreen-regular {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.silkscreen-bold {
  font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  font-style: normal;
}


body {
  font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  font-style: bold;


background-color: #eed7ab}





