:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;


}
.active{

  background-color: coral;
}

.li a :hover:not(.active){
  background-color: blueviolet;
}

.silkscreen-regular {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.silkscreen-bold {
  font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  font-style: normal;
}


body {
  font-family: "Silkscreen", sans-serif;
  font-weight: 600;
  font-style: bold;
  color: rgb(131, 20, 107);


background-color: rgba(167, 138, 175, 0.716);  
}





