
.cajav {
    border-radius: 15px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    margin-top: 10vh;
    margin-bottom: 10vh;
    height: 90vh; /* Altura fija del contenedor principal */
    overflow: hidden; /* Oculta el desbordamiento del contenido */
    position: relative;
}
.cajav::-webkit-scrollbar {
    display: none; 
    position: sticky; 
    top: 0; 
    max-height: 100%; 
    overflow-y: auto; 
}
.listv{
    border-style: double;
    list-style-type: none;
    background-color: rgb(178, 187, 242);
    align-content: center;
    padding: 10px;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    position: relative;
}

.titulo2 {
    color: rgb(60, 60, 73);
}

.titulop {
    text-align: center;
    padding: 15px;
    color: black;
    font-size: bold;
}

.cajapr {
    margin-top: 130px;
    margin-left: 15px;
    margin-right: 15px ;
    position: absolute; /* Posición absoluta solo para la lista de productos puedo modificar */
    top: 0; /* Alinea la lista de productos al principio del contenedor */
    left: 0; /* Alinea la lista de productos a la izquierda del contenedor puedo modificar*/
    right: 0; /* Alinea la lista de productos a la derecha del contenedor */
    bottom: 0; /* Alinea la lista de productos al final del contenedor */
    overflow-y: auto; /* Permite el desplazamiento vertical solo cuando sea necesario */
    padding: 5px; /* Espaciado interior */
    border: 5px solid #191918;
    border-radius: 25px;
    background-color: #e0fbfc;}
      


.fecha {
    position: absolute;
    bottom: 10px;
    right: 25px;
    margin: 0;
}

@media (max-width: 768px) {
    .cajap{
        right: auto; 
        width: 80%;
    }


    .listv {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (max-width: 576px) {
    .cajav {
        padding: 5px;
    }

    .listv {
        padding: 5px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .titulop {
        font-size: 16px; }


    .fecha {
        bottom: 5px;
        right: 15px;
    }
}
