
.cajav {
    border-radius: 15px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    right: 80%;
    padding: 10px;
    margin-top: 20vh;
}
.cajav::-webkit-scrollbar {
    display: none; 
    position: sticky; 
    top: 0; 
    max-height: 100%; 
    overflow-y: auto; 
}
.listv{
    border-style: double;
    list-style-type: none;
    background-color: rgb(242, 220, 239);
    align-content: center;
    padding: 10px;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    position: relative;
}

.titulo2 {
    color: rgb(60, 60, 73);
}

.titulop {
    text-align: center;
    padding: 15px;
    color: black;
    font-size: bold;
}

.cajapr {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; 
        position: relative; /* Cambiado a relativo para hacer que .color sea relativo a este contenedor */
        border-radius: 15px;
        margin-top: 20px;
        max-height: 700px;
        overflow: auto;
        padding: 25px;
        border: 5px solid #727a46;
        background-color: #f0a9b4;
    }


.fecha {
    position: absolute;
    bottom: 10px;
    right: 25px;
    margin: 0;
}

@media (max-width: 768px) {
    .cajap{
        right: auto; 
        width: 80%;
    }


    .listv {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (max-width: 576px) {
    .cajav {
        padding: 5px;
    }

    .listv {
        padding: 5px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .titulop {
        font-size: 16px; }


    .fecha {
        bottom: 5px;
        right: 15px;
    }
}
