.cajad>input{
    
    padding: 33px;
    width: 96vh;
    border-radius: 15px;
    border:7px groove  #727a46;
    transition: transform 0.3s ease; 
    height: 70px; 

}

input:hover{
    transform: scale(1.02); /* Escalamos el input al 110% cuando está enfocado */

    background-color: rgb(226, 230, 219);
}


