.h1{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    min-height: 100svh;
    font-size: larger;
}

.formc{
    background-color: aliceblue;
width: 500px;
border-radius: 10px;
padding: 50px;
}
.forma{
    display: flex;
    gap: 10px;
flex-direction: column}
.sr-only{
    position: absolute;
    left :-10000px;
    top: auto;


}
.error{
    color: rgb(224, 72, 72);
}
.input,button {
    font-size: large;
    border-radius: 2px;
    border: unset;
    padding: 15px 30px;
}
button{
    cursor: pointer;
    color: white;
    background-color: rgb(42, 42, 166);
    font-weight: bold;
}