.cajap {
  border-radius: 15px;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  right: 80%;
  padding: 0px;
  margin-top: 20vh;

}
.color {
  scrollbar-width: none; 
  -ms-overflow-style: none; 
      position: relative; /* Cambiado a relativo para hacer que .color sea relativo a este contenedor */
      border-radius: 15px;
      margin-top: 20px;
      max-height: 700px;
      overflow: auto;
      padding: 25px;
      border: 5px solid #727a46;
      background-color: #f0a9b4;
}



.red {
  animation: pulse 3s infinite alternate;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
    background-color: rgb(244, 164, 232);
  }
  50% {
    transform: scale(1.03);
    background-color: rgb(241, 101, 101);
  }
}

.titulo2{
  text-align: center;
  padding: 15px;
  background-color: #e82424;
}
.material {
  color: #e82424;
  height: 40px;
  position: absolute; 
  top: 60%; 
  right: 30px; 
  transform: translateY(-50%) scale(1.2); 
  background-color: rgb(234, 228, 221); 
  cursor: pointer;
  border-radius: 5px;
  border: none;
}


.t:last-child {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  background-color: rgb(248, 245, 248);

}
.listp p:first-child {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  align-items: center;
}

.cajap {
  max-height: 600hv; /* Ajusta la altura máxima según tus necesidades */
  overflow-y: auto; /* Permite el desplazamiento vertical */
  border-radius: 15px;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  right: 60%;
  padding: 10px;
  margin-top: 18vh;}
  .listp {
    border-style: double;
    list-style-type: none;
    background-color: rgb(244, 164, 232);
    border: 3px solid #efe8e8;
    align-content: center;
    padding: 30px;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    position: relative;
}

 
  @media (max-width: 768px) {
    .cajav {
        right: auto; 
        width: 80%; 
    }}